*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --zoom-white: white;
    --zoom-red: #da2225;
    --zoom-green: #5fc83b;
    --zoom-main: black;
    --zoom-footer: #262626;
    --zoom-gray: #545454;
}

img{
    max-width: 100%;
}

/* Debug */

.debug #site_header{
    height: 50px;
    width: 100vw;
}

.debug #site_header .speaker_view,.debug #site_header .maximize{
    height: 30px;
    width: 50px;
}

.debug #site_main .container{
    background-color: aqua;
    height: 500px;
}

.debug .col{
    background-color: bisque;
    height: 50px;
    border: 1px dashed black;
}

.debug .function_call, .debug .function_audio, .debug .end_meeting{
    height: 50px;
    width: 200px;
    background-color: aquamarine;
}

/* Utility */

.d-flex{
    display: flex;
}


.jc_flex_end{
    justify-content: flex-end;
}

.row{
    margin: 0 -0.25rem;
}

.flex_wrap{
    flex-wrap: wrap;
}

.space_between{
    justify-content: space-between;
}

.col{
    width: calc(100% / 7);
    min-width: 150px;
}

[class^="col"]{
    padding-left: 0.25rem;
    padding-right: 0.25rem; 
    margin-bottom: 1rem;
}

.jc_center{
    justify-content: center;
}

.align_items_center{
    align-items: center;
}

.direction_column{
    flex-direction: column;
}

.py-1{
    padding-left: 1rem;
}

.p_relative{
    position: relative;
}

/* Header */

#site_header{
    background-color: var(--zoom-main);
    padding-bottom: 2rem;
}

#site_header .speaker_view, #site_header .maximize{
    background-color: var(--zoom-gray);
    color: var(--zoom-white)
}

#site_header .container{
    gap: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.speaker_view, .maximize{
    padding: 0.25rem;
    border-radius: 0.35rem;
}

/* Main */

#site_main{
    background-color: var(--zoom-main);
    padding-bottom: 2rem;
}

#site_main .container{
    max-width: 1152px;
    width: 90%;
    margin: auto;
}

.name{
    position:absolute;
    left: 0;
    bottom: 5px;
    color: var(--zoom-white);
    background-color: #545454a7;
    margin: 0 0.25rem;
    padding: 0.2rem;
    font-size: 14px;
}

/* Footer */

#site_footer{
    background-color: var(--zoom-footer);
    width: 100vw;
}

#site_footer .function_audio, #site_footer .function_call{
    color: var(--zoom-white);
    padding: 0.5rem;
}

#site_footer i{
    font-size: 1.8rem;
}

.name_function{
    margin-top: 0.5rem;
    font-size: small;
    font-weight: 200;
}

#site_footer .arrow i{
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#site_footer .share i{
    color: var(--zoom-green);
}

#site_footer .end_meeting{
    background-color: var(--zoom-gray);
    color: var(--zoom-red);
    text-align: center;
    padding: 1rem;
    font-size: 14px;
}

